/* @font-face {
    font-family: 'PixelifySans';
    src: url(ISS-Tracker/Font-files/PixelifySans-VariableFont_wght.ttf);
} */
header{
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo{
    max-width: 100px;
}
body{
    background-color: black;
    background-image: url(ISS-Tracker/images/earth0.jpg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    filter: brightness(1.2) contrast(1.2);
    color: blue;
}
/* ISS details styling */
#details .time,
#details .latitude,
details .longitude
{
    font-weight: bold;
    font-size: 18px;
    color: wheat;
    margin-left: 20px 0;

}

h1{
    background-color: navy;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0;
}
h2{
    background-color: navy;
    color: white;
    padding: 10px;
    margin: 20px 0;
    text-align: center;
}
ul{
    list-style-type: none;
    padding: 0;
}
li{
    margin: 5px 0;
}
.list{
    list-style-type: none;
    padding: 0;
}
.list-item{
    margin: 5px 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
}
#map{
    height: 400px;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
    margin: 10px auto;
}
#sidebar{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    overflow-y: scroll;
    z-index: 1;
    display: none;
}
#toggleFacts{
    background-color: navy;
    color: wheat;
    padding: 10px;
    border: none;
    cursor: pointer;
}
#crewList{
    float: right;
    background-color: rgba(0, 0, 0, 0.9);
    color: wheat;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    overflow-y: scroll;
    z-index: 1;
}
footer{
    background-color: navy;
    color: wheat;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    position: fixed;
}